@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
body {
  display: flex;
  flex-direction: column;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.custom-info-accent {
  background-color: rgb(207, 125, 63);
  color: #fff !important;
}

.custom-success-accent {
  background-color: rgb(130, 235, 130);
  color: #000 !important;
}

.custom-error-accent {
  background-color: rgb(200, 72, 70);
  color: #fff !important;
}

.self-centered {
  align-self: center;
}

.show-up {
  opacity: 0;
  animation: show-up 1000ms ease-in-out 800ms forwards;
}

.show-down {
  opacity: 1;
  animation: show-down 1000ms ease-in-out 800ms forwards;
}

.show {
  opacity: 0;
  animation: show 600ms ease-in forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes show-down {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(300px);
  }
}
.homemade-logo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.homemade-logo--big {
  height: 200px;
  width: 200px;
}

.custom-emphasis {
  font-weight: bold;
  font-size: 14px;
}

.custom-form {
  display: flex;
  flex-direction: column;
}

.custom-paragraph {
  color: #000;
}

.custom-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.custom-slider {
  height: 200px;
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
}
.custom-slider .slider-figure {
  display: inline;
  width: 200px;
  flex-shrink: 0;
  overflow: hidden;
  margin-inline: 10px;
}
.custom-slider .slider-figure > img {
  transition: all ease-in-out 300ms;
}
.custom-slider .slider-figure:hover {
  cursor: pointer;
}
.custom-slider .slider-figure:hover > img {
  transform: scale(1.2);
}

.homemade-header {
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px #000;
  padding-inline: 10px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}
.homemade-header nav,
.homemade-header ul {
  display: flex;
}
.homemade-header li {
  pointer-events: auto !important;
  opacity: 1 !important;
  z-index: 9999 !important;
  pointer-events: auto;
  color: #fff;
}
.homemade-header li:hover {
  cursor: pointer;
}
.homemade-header figure {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.homemade-main {
  display: flex;
  min-height: 100vh;
  padding-top: 15vh;
}

.homemade-notificator {
  position: fixed;
  bottom: 10px;
  width: fit-content;
  display: flex;
  right: 10px;
  z-index: 20;
}

.custom-notification__paragraph {
  padding: 10px;
  font-size: 12px;
  border-radius: 10px;
}

.landing__main {
  background-image: url("../../public/images/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.home__main {
  flex-direction: column;
  background-color: #fff;
}

.home__hero-section .custom-section .unique-selling-proposition {
  text-align: center;
  font-size: 18px;
}

.home__hero-section figure {
  height: 200px;
}

.login__main {
  background-image: url("../../public/images/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
}
.login__main .custom-form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
